language: node_js
node_js:
- 5.10.1
env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
addons:
  ssh_known_hosts: engineroom1.koumbit.net
before_install:
- openssl aes-256-cbc -K $encrypted_b10d7a62ccfd_key -iv $encrypted_b10d7a62ccfd_iv
  -in deploy-key-zimbabwe.enc -out deploy-key-zimbabwe -d
- chmod 600 ~/.ssh/config
- chmod 600 deploy-key-zimbabwe
- mv deploy-key-zimbabwe ~/.ssh/id_rsa
- rm deploy-key-zimbabwe.enc
- echo -e "Host engineroom1.koumbit.net" >> ~/.ssh/config
- echo -e "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
- cat ~/.ssh/id_rsa
- cat ~/.ssh/known_hosts
- bash scripts/install.sh
before_script:
- bash scripts/install.sh
- npm install grunt-cli -g
script:
- bash scripts/build.sh
after_success:
- bash scripts/deploy.sh
branches:
  only:
  - master
