.AdditionalInfo{
    &-header {
        padding: 20px;
        position: relative;
    }

    &-title {
        color: #fff;
        margin: 0;
        @include fluid-type(font-size, 320px, 1200px, 20px, 24px);
        font-family: 'Roboto Slab', serif;
    }

    &-download {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0,-50%);
    }
}

/* ====================================
   Sankey
   ==================================== */
.Sankey {
    margin: 20px 0;
    overflow-y: auto;
    &-mobile {
        min-width: 600px;
    }
}


.Table {
    margin: 20px 0;

    &-title {
        font-size: 16px;
    }
}


.OwnedLicenses {
    &-title {
        font-size: 16px;
    }
    span {
        font-size: 15px;
        display: inline-block;
        margin-right: 10px;
    }
}

.Hierarchy {
    &-title {
        font-size: 16px;
    }

    &-data {
        margin-bottom: 20px;
    }
}

.Block {
    border: 1px solid #d0d0d0;
    padding: 15px;

    &-title {
        margin: 0 0 10px 0;
        font-size: 16px;
        font-weight: bold;
    }
}
