.Content {
    width: 100%;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transform: translate(100%,0);

    backface-visibility: hidden;
    transition: transform 0.3s ease;
    z-index: 2;

    &.is-active {
        display: block;
        min-height: 100%;
        background-color: #fff;
    }

    &.has-animation {
        transform: translate(0,0);
    }

    @media #{$large-and-up} {
        position: relative;
        display: block;
        transform: translate(0,0);
    }

}

.Data {
    width: 300%;

    @media #{$large-and-up} {
        width: 100%;
        max-height: 800px;
        height: 800px;
        position: relative;
    }

    &-holder {

        position: relative;
        z-index: 2;
        backface-visibility: hidden;
        transition: transform 0.3s ease;
        font-size: 0;

        .collection,
        .collapsible {
            margin: 0;
            border: 0;
        }

        .collapsible-body {
            word-break: break-word;
            padding: 2rem;
            position: relative;
            p {
                padding: 0;
            }
        }


        @media #{$large-and-up} {
            position: absolute;
            left: 20px;
            top: 20px;
            z-index: 2;
            width: 55%;
        }
    }

}



/* ====================================
   Lists
   ==================================== */

.List {
    display: inline-block;
    width: 33.3333%;
    background-color: #fff;
    vertical-align: top;
    position: relative;
    transform: translate(0,0);

    @media #{$large-and-up} {
        width: 48%;
    }

    &-header {
        position: relative;
        z-index: 2;
        font-size: 20px;
        @include fluid-type(font-size, 320px, 1200px, 16px, 20px);
        padding: 20px 20px 20px 80px;
        border-bottom: #e0e0e0 1px solid;
        color: #fff;
        cursor: pointer;
        font-family: 'Roboto Slab', serif;

        @media #{$large-and-up} {
            padding: 20px;
        }

        i,span {
            vertical-align: middle;
            span {
                vertical-align: initial;
            }
        }
    }

    &-back {
        position: absolute;
        top: 0;
        left: 0;
        border-right: #fff 1px solid;
        width: 50px;
        height: 100%;

         i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
         }
    }

    &-count {
        vertical-align: initial;
    }

    &-headerInactive {
        font-size: 15px;
        text-align: center;
        padding: 10px;
    }

    .collection .is-active {
        background-color: #C8DAE6;
    }

    .collection-item {
        position: relative;
        padding: 20px;
    }

    .collapsible-header {
        position: relative;

        i {
            float: right;
            margin-right: 0;
            backface-visibility: hidden;
            transition: transform 0.3s ease;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0,-50%);
        }

        &.active {
            i {
                transform: translate(0,-50%) rotate(180deg);
            }
        }
    }

    &-holder {
        @media #{$large-and-up} {
            max-height: 680px;
            height: 680px;
            overflow-y: auto;
        }

        ul {
            font-size: 15px;
        }
    }

    &-title {
        font-weight: bold;
        margin-top: 10px;
        line-height: 1;

        .List--extra & {
            max-width: 80%;
            display: inline-block;
        }

        &.List-title--full {
            display: block;
            max-width: 100%;
        }
    }

    &-number {
        color: #fff;
        padding: 3px;
    }

    @media #{$large-and-up} {
        &.List--extra {
            margin-left: 2%;
        }
    }

    &-infoLink {
        display: block;
        padding: 20px;
        font-size: 15px;
        color: #fff;
        cursor: pointer;
    }

    &-switch {
        position: absolute;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
        margin: 0;
    }


    .Download-button {
        font-size: 15px;
        display: block;
        margin: 20px;
    }


}



/* ====================================
   Map
   ==================================== */

.Map {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;

    &.is-visible {
        display: block;
    }

    &.Map--inline {
        position: relative;
        bottom: auto;
        display: block;
        height: 400px;
    }

    @media #{$large-and-up} {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }

    &-trigger {
        position: fixed;
        bottom: 0;
        right: 0;
        backface-visibility: hidden;
        transition: transform 0.3s ease;
        transform: translate(100%,-20px);
        z-index: 100;

        &.is-active {
            transform: translate(-20px,-20px);
        }

        @media #{$large-and-up} {
            display: none;
        }

    }


    &-label {
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        display: none;

        &.is-selected {
            display: block;
            color: #fff;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }

        &.is-active {
            display: block;
        }
    }
}
